{{ $full := false }}      <!-- words preview -->
{{ $content := .page.Content }}

{{ if isset . "full" }}{{ $full = .full }}{{ end }}

{{ if not $full}}
{{ $content = $content | truncate 200}}
{{ end }}

<div class="post-header">
    <div class="post-title">
        <em>{{ .page.Title }}</em><span> - </span>
        <a href={{ .page.Permalink }}>
            <em><span style="font-size: smaller;">{{ .page.RelPermalink }}</span></em>
        </a>
    </div>
</div>

<div class="list-content">
    {{ $content }}
</div>

<hr />
